main {
  min-height: 100vh;
  max-width: 736rem;
  width: 90%;
  margin: auto;
}

.title {
  color: var(--primary);
  font-size: 40rem;
  font-weight: bold;
  margin: 72rem 0 53rem;
  text-align: center;
}