.header {
  background: var(--tertiary-700);
  padding-top: 72rem;
  position: relative;
}

.header::after {
  background: var(--tertiary-600);
  content: '';
  height: 11%;
  width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 0;
}

.container {
  max-width: 736rem;
  margin: auto;
  width: 90%;
}

.title {
  color: var(--primary);
  font-size: 40rem;
  font-weight: bold;
  margin-bottom: 53rem;
  text-align: center;
}