@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
  --primary: #4EA8DE;
  --primary-dark: #1E6F9F;
  
  --secondary: #8284FA;
  --secondary-dark: #5E60CE;
  
  --danger: #E25858;
  
  --tertiary-700: #0D0D0D;
  --tertiary-600: #1A1A1A;
  --tertiary-500: #262626;
  --tertiary-400: #333333;
  --tertiary-300: #808080;
  --tertiary-200: #D9D9D9;
  --tertiary-100: #F2F2F2;
  
  --font-primary: 'Inter', 'sans-serif';
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  font-family: var(--font-primary);
  background: var(--tertiary-600);
  min-height: 100vh;
}